.about{
  width: 100%;
}

.craouselContainer {
  width: 80%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  padding: 2rem;
  border-radius: 10px;
  row-gap: 4rem;
  position: relative;
  overflow: hidden;
} 

.craouselContainer h1{
  /* color: white; */
  font-size: 50px;
}
.type1,
.type2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  z-index: 1;
}
.img {
  flex: 1;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}
.img img {
  width: 100%;
  border-radius: 8px;
}
.content {
  /* color: white; */
  flex: 2;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
  .craouselContainer{
    width:82%;
    margin-bottom: 10px;
  }
  .craouselContainer h1{
    /* color: white; */
    font-size: 28px;
    padding: 5px;

  }
  .content {
    flex: 1;
    /* color: white; */
    padding: 0px;
    border-radius: 8px;
    font-size: 10px;
    
  }
  .type1,
.type2 {

  column-gap: 10px;

}
}
