.Section2_Container{
width: 100%;
justify-content: center;
text-align: center;

}
.Section2_Heading{
    margin-top: 0px;
    font-size: 40px;
    color: white;
  }
.Gallery_Stories{
    width: 90%;
    margin: 0 auto;
    margin-top: 55px;

}

.Gallery_Stories .Gallery_section{
  display: grid;
  height: 1000px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1.5fr);
  gap: 40px;
  margin-bottom: 100px;
}

.Gallery-container{
    position: relative;
  overflow: hidden;
  height:100%;
  border: 0.5px solid white;
}
.Gallery-container img{
  height:100%;
  width: 100%;
}
.Gallery-content{
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.Gallery-content h3 {
    margin: 10px 0px;
  }
  
  .Gallery-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .Gallery-container:hover .Gallery-content {
    display: block;
    transform: translateY(75px);
    animation: content-animation 0.5s ease-in-out forwards;
  }
  
  @keyframes content-animation {
    from {
      transform: translateY(100px);
    }
    to{
      transform: translateY(0px);
    }
  } 
  
  @media screen and (max-width: 400px) {
    .Section2_Heading{
      margin-top: 0px;
      font-size: 20px;
      color: white;
    }
    .Gallery_Stories{
      margin-top: 30px;
    }
    section.Gallery_section{
      height:600px;
      grid-template-columns: 1fr  1fr;
      grid-template-rows: 1fr 1fr 1.5fr 1.5fr;
      gap: 10px;
      margin-bottom: 20px;
    }
    
  }
