
footer {
    height: 90px;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    padding: 37px;
    margin: 0 auto;
    margin-bottom: 0px;
    justify-content: center;
  }
  div.Left-content p {
    margin: 0;
    font-size: 20px;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

 .right-content{
    text-align: right;
    position: absolute;
    right: 50px;
    margin-top: 30px;
    font-size: 20px;
 }

 @media screen and (max-width:400px) {
    footer{
        padding:10px;
        display: block;
    }
    .footer-links li {
        margin-right: 10px;
      }
      .footer-links li a{
        font-size: 12px;
      }
      div.Left-content{
        margin-top: 10px;
        width:100%;
      }
      div.Left-content p {
        font-size: 12px;
      }
      
    .right-content{
        margin-top: 10px;
        text-align: center;
        right: 18%
     }
     .right-content ul{
        margin-top: 0px ;
     }
 }