body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* overflow: hidden; */
  margin-top: 90px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 400px) {
  body{
    margin-top: 40px;
   
  }
}
